<h3>Create a new Feed!</h3>
<form id="new-feed">
  <label>Title:
    <input type="text" name="feed[title]" value="<%= feed.title %>">
  </label>
  <label>URL:
    <input type="text" name="feed[url]" value="<%= feed.url %>">
  </label>

  <button>Create!</button>
</form>